.roundit{
    border-radius: 15px;
    width:60%;
    
    
    display:grid;
    grid-template-columns:80% 20%;
    grid-template-areas: "textinput icon";
}
.part1search{
    grid-area:"textinput";
    width:100%;
}
.part1search input{
    width:100%;
    border-top-left-radius:16px;
    border-bottom-left-radius:16px;
    outline-style: none;
    height: 80%;
    font-size:2rem;
}
.part2search{
    grid-area:"icon";
    width: 100%;
    margin-left:-3rem;
}
.part2search img{
    height:100%;

    border-top-right-radius:16px;
    border-bottom-right-radius: 16px;
 
}