.Navigation {
  display: grid;
  z-index: 100;

  background-color: white;
  padding-top: 2rem;
  padding-bottom: 1rem;
  grid-template-columns: 30% 70%;
  grid-template-areas: "logo Navigation-menu";
  flex-direction: column;
}
.part1 {
  grid-area: "logo";
  padding-left: 10%;
}
.part2 {
  grid-area: "Navigation-menu";
}
.nav-hamburger {
  display: none;
}
.showDrawer{
    display:none;
}
@media only screen and (max-width: 768px) {
  .Navigation {
    display: grid;
    z-index: 100;

    background-color: white;
    padding-top: 2rem;
    padding-bottom: 1rem;
    grid-template-columns:50% 50%;
   
    grid-template-areas: "logo menus";
  }
  .part2 {
   visibility:hidden;

   top:0;
   height:0px;

  }
  .nav-hamburger {
      display: block;
    grid-area: menus;
    height:100%;
    
  }
    .nav-hamburger img{
 
    width:5%;
    float:right;
    padding-right: 3rem;
    } 
   .showDrawer{
        
        width:70vw;
        position:fixed;
        top: 0;
        
        left:0;
        display: block;
        z-index:1000;
        height:100%;
        visibility: visible;
        background-color: white;
    }
}
