.contact-main {
  width: 100%;
  background-color: #f0ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins";
}

.contact {
  width: 80%;
  display: flex;
  margin-top: 10%;
  margin-bottom: 10%;
}

.contact-header {
  color: black;
  font-size: 50px;
  /* font-weight: 800; */

  margin-top: 5%;
}

.contact-info {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-top: 3%;
}

.info {
  width: 33.33%;
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-t {
  word-wrap: break-word;
}

.info-text {
  display: flex;
  flex-direction: column;
}

.info-svg {
  width: 10%;
  margin-right: 20px;
}

.social-handles {
  width: 50%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sh {
  width: 5%;
  margin: 20px;
}

.contact-map {
  border-radius: 25px;
  background-color: #382bee;
}

.contact-middle {
  width: 60%;
  height: 800px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-radius: 25px;

  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.12);
}

.contact-center {
  margin-left: 10%;
}
input {
  height: 69px;
  font-size: 25px;
  width: 610px;
}
input::placeholder {
  font-size: 25px;
}
textarea {
  font-size: 25px;
  font-family: Poppins;
}
textarea::placeholder {
  font-size: 25px;
}
.contact-map {
  width: 50%;
  height: 50%;
  border-radius: 25px;
  overflow: hidden;
  transform: translate(-5%, -3%);
  background-color: #382bee;
}

.contact-text {
  font-size: 47px;
  margin-left: -42px;
}

.contact-bottom {
  font-size: 25px;
  margin-left: -42px;
}

.map {
  opacity: 0.5;
  transition: all 0.5s;
  width: 100%;
  height: 500px;
  border-radius: 15%;
}

.map:hover {
  opacity: 1;
}

.contact-map:hover {
  opacity: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* align-self: flex-start; */
  margin-top: 15px;
}

form {
  margin-top: 25px;
  font-size: xx-large;
  font-weight: bolder;
}

.form-textarea {
  resize: none;
  height: 150px;
}

.inp {
  padding: 10px;
  border-radius: 5px;
  align-self: flex-start;
  width: 85%;
  margin-bottom: 20px;
  border: 2px solid rgba(12, 11, 11, 0.315);
}

.form-btn {
  align-self: flex-start;
  left: 10%;
  width: 270px;
  height: 54px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #4fc0e6 0%, #382bee 100%);
  color: aliceblue;
  font-size: 25px;
  font-weight: bold;
  padding-right: 20px;
  padding-left: 20px;
  outline: none;
  margin-top: 5px;
  border: none;
  font-family: Poppins;
}

@media (max-width: 1000px) {
  .info {
    font-size: small;
  }
  .contact-center {
    margin-left: 0%;
  }
}

@media (max-width: 900px) {
  .info {
    font-size: 10px;
  }

  .form-btn {
    font-size: 12px;
    padding: 5px;
  }
}

@media (max-width: 650px) {
  .info {
    font-size: 9px;
  }
}

@media (max-width: 600px) {
  .contact-info {
    flex-direction: column;
    width: 30%;
  }

  .map {
    height: 300px;
  }

  .info {
    margin: 20px;
    width: 100%;
    justify-content: flex-start;
  }

  .info-t {
    word-break: break-all;
  }

  .contact {
    flex-direction: column;
    margin-bottom: 150px;
  }

  .contact-text {
    transform: translateX(-10%);
  }

  .contact-bottom {
    transform: translateX(-10%);
  }

  .contact-map {
    width: 120%;
    height: 160%;
    transform: translate(-8%, -9%);
  }

  .contact {
    width: 60%;
    margin-bottom: 10px;
  }

  .contact-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contact-middle {
    width: 95%;
    margin-bottom: 10px;
  }

  .contact-form {
    align-self: center;
  }

  .form-btn {
    width: 40%;
    margin-left: 20%;
    transform: translateX(10%);
    margin-bottom: 5%;
  }
}
