.hexagonal {
  position: relative;

  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: 2s;
  background-color: white;
  opacity: 0.2;
  margin: 2px 4px;
  margin-bottom: 15px;
  background-color: #0e1333;
}
.titlehex {
  color: rgb(255, 255, 255);

  position: absolute;
  font-size: 28px;
  font-weight: 900;
  z-index: 1000;
  width: 100%;
  text-align: center;
  top: 30%;
}
.hexagonaldifferent {
  position: relative;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: 2s;
  color: white;
  background-color: rgb(17, 17, 63);

  margin: 2px 4px;
}
.hexagonal:hover {
  transform: scale(1.5);
}

/* .hoverbox {
  display: none;
} */
.hexagonal:hover .showInHover {
  /* background-color: red; */
  color: white;
  visibility: visible;
  /* display: flex;
    justify-content: center;
    align-items: center; */

  position: absolute;
  z-index: 1000;
  width: 100%;
  text-align: center;
}
.showInHover {
  visibility: hidden;
  /* position: absolute;
    z-index: 1000;
    width: 100%;
    text-align: center; */
}
